<div class="container">
    <h2>STUDENTS RECORD</h2>
    <form [formGroup]="studentForm">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>Email</th>
          <th>Contact</th>
          <th>Class</th>
          <th>Section</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            ADD RECORD
          <td>
              <input formControlName="name" class="form-control" type="text">
          </td>
          <td>
              <input formControlName="email" class="form-control" type="text">
          </td>
          <td>
              <input formControlName="contact" class="form-control" type="text">
          </td>
          <td>
              <input formControlName="class" class="form-control" type="text">
          </td>
          <td>
              <input formControlName="section" class="form-control" type="text">
          </td>
          <td>
              <button class="btn btn-primary" (click)="createRecord()">SAVE</button>
          </td>
        </tr>
        <tr *ngFor="let student of students">
            <td>
                {{student._id}}
            </td>
            <td>
              {{student.name}}
            </td>
            <td>
              {{student.email}}
            </td>
            <td>
              {{student.contact}}
            </td>
            <td>
              {{student.class}}
            </td>
            <td>
              {{student.section}}
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteRecord(student._id)">Delete</button>
            </td>
        </tr>
      </tbody>
    </table>
    </form>
  </div>